// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.statistics {
    strong {
        font-size: 1.2rem;
    }

    .answers {
        padding: 10px;
        border-radius: 5px;

        &.answered {
            border: solid 1px $success;
            color: $success;
        }

        &.has-best-answer {
            background: $success;
            color: white;
        }
        &.unanswered {
            background: $danger;
            color: white;
        }
    }
}

#pageloader {
    background-color: #f8fafc;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader-item {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 200px;
    width: 200px;

    img {
        width: 200px;
        height: 200px;
    }
}
.form-search {
    input[type="text"]  {
        height: 50px;
        border: 1px solid #e7e7e7;
        width: 500px;
        padding: 0 20px;
        outline: none;

        @media (max-width: 1200px) and (min-width: 990px){
            width: 250px;
        }

        @media (max-width: 990px) and (min-width: 768px){
            width: 190px;
        }
    }
    input::-webkit-input-placeholder {
        text-transform: inherit;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
    }
    button {
        border: 0;
        height: 50px;
        color: #000;
        width: 40px;
        padding: 10px;
        outline: none;
    }
}
.action-buttons {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding:0 20px 0 0 ;
}
