// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.statistics {
    strong {
        font-size: 1.2rem;
    }

    .answers {
        padding: 10px;
        border-radius: 5px;

        &.answered {
            border: solid 1px $success;
            color: $success;
        }

        &.has-best-answer {
            background: $success;
            color: white;
        }
        &.unanswered {
            background: $danger;
            color: white;
        }
    }
}

#pageloader {
    background-color: #f8fafc;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader-item {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 200px;
    width: 200px;

    img {
        width: 200px;
        height: 200px;
    }
}
